@model WebApp.Models.tb_Role

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ">
            <h1 class="modal-title w-100 text-center fs-5 text-uppercase" id="staticBackdropLabel">Sửa quyền</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        @using (Ajax.BeginForm("EditRole", "Home", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnSuccess = "Success",
            OnFailure = "Failure",
        }))
        {
            <div class="modal-body ">
                <div class="row">

                    <input type="number" name="ID" value="@Model.ID" style="display: none;" />
                    <div class="col-sm-6">
                        <label class="form-label" for="UserID">Mã quyền<span class="text-danger"> *</span></label>
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.RoleID, new { @class = "form-control mauxam ", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label" for="RoleName">Tên quyền<span class="text-danger"> *</span></label>
                        <div class="col-sm-12 col-lg-12">
                            @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
                            <span id="roleNameError" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-submit btn btn-primary">Sửa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        }
    </div>
</div>
