@model WebApp.Models.tb_Role 

<div class="row">

    <input type="number" name="ID" value="@Model.ID" style="display: none;" />
    <div class="col-sm-6">
        <label class="form-label" for="UserID">Mã quyền<span class="text-danger"> *</span></label>
        <div class="col-sm-12">
            @Html.TextBoxFor(m => m.RoleID, new { @class = "form-control mauxam ", @readonly = "readonly" })
        </div>
    </div>

    <div class="col-sm-6">
        <label class="form-label" for="RoleName">Tên quyền<span class="text-danger"> *</span></label>
        <div class="col-sm-12 col-lg-12">
            @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
            <span id="roleNameError" class="text-danger"></span>
        </div>
    </div>
</div>