
<style>
    #searchForm {
        position: relative;
    }

    .btn-search {
        width: 40px;
        position:absolute;
        right: 0;
        top: 0px;
    }
</style>

<form id="searchForm" method="get" action="@Url.Action("ManageShift")">
    <input type="text" class="form-control input-search" name="searchString" placeholder="Tìm kiếm...">
    <button class="btn btn-primary btn-search" type="submit">
        <i class="bi bi-search"></i>
    </button>
</form>
