
<style>
    .input-search {
        border-radius: 5px 0px 0px 5px !important;
        height: 40px;
    }

    .btn-search {
        border-radius: 0px 5px 5px 0px !important;
        height: 40px;
        width: 40px;
    }
</style>

<div class="input-group">
    <input type="text" class="form-control input-search" placeholder="Nhập tên...">
    <div class="input-group-append">
        <button class="btn btn-primary btn-search" type="button">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>

<script>

</script>
