
@{
    ViewBag.Title = "BookingBadminton";
}

@model WebApp.Models.tb_Arena
@{ 
    List<WebApp.Models.tb_Arena> Badmintons = ViewBag.Badmintons;
}

<style>
    #content {
        padding: 30px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Badmintons)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card">
                    <div class="card-title">
                        <div class="card-img"><img src="~/Uploads/background-dung-cu-the-thao.jpg" alt="Ảnh sân cầu lông" width="100%" /></div>
                    </div>
                    <div class="card-body">
                        <p class="fs-5 fw-bolder">@item.ArenaName</p>
                        <p>Loại sân: @item.tb_Size.SizeName</p>
                        <p class="text-danger">Giá: @item.Price đ</p>
                    </div>
                    <div class="card-footer">
                        <p>Các khung giờ còn trống</p>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>