
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApp.Models.tb_User

<style>
    .container-login {
        width: 100%;
        height: 100vh;
        background-image: url('/Uploads/regis_loginImage.jpg');
        background-size: cover;
    }

    .form-control {
        background-color: rgba(255,255,255,0.2);
    }

        .form-control:focus {
            background-color: rgba(255, 255, 255, 1);
            color: black;
        }

    .card {
        font-size: 18px;
    }

    .label {
        color: black;
    }

    .textbox {
    }

    .card-header {
        color: black;
        text-shadow: 0 0 10px revert-layer;
    }

    label {
        padding-left: 0px !important;
    }

    .back {
        position: fixed;
        top: 20px; /* điều chỉnh khoảng cách từ trên xuống */
        right: 20px; /* điều chỉnh khoảng cách từ phải sang trái */
        z-index: 9999; /* đảm bảo nút này luôn hiển thị phía trên các phần tử khác */
        background-color: #FF5733;
        color: white;
        border: 1px solid #FF5733;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        background-color: #2a86bb;
        border-radius: 20px;
        border-color: white;
    }
        .back:hover {
            color: white; 
        }
</style>

<a class="back" href="/Home/Account"> <span class="bi bi-arrow-return-left"> </span>Quay lại</a>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
else
{
    <div class="container-login">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%; transform: translateY(-10%) ">
            <div class="col-md-4">
                <div class="card" style="background-color: rgba(255, 255, 255, 1);">
                    <div class="card-header text-center fs-3 fw-bold text-uppercase">Thay đổi mật khẩu</div>
                    <div class="card-body">
                        @using (Ajax.BeginForm("ChangePassword", "Home", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            OnSuccess = "changePasswordSuccess",
                            OnFailure = "changePasswordFailure",
                        }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group row px-4 py-2">
                                <label class="col-12">Mật khẩu mới <span class="text-danger"> *</span></label>
                                <input type="password" name="Password" id="Password" value="" class="form-control" required />
                                <span id="passwordError" class="text-danger"></span>
                            </div>

                            <div class="form-group row px-4 py-2">
                                <label class="col-12">Nhập lại mật khẩu mới <span class="text-danger"> *</span> </label>
                                <input type="password" name="RePassword" id="RePassword" value="" class="form-control" required />
                                <span id="repasswordError" class="text-danger"></span>
                            </div>

                            <div class="form-group row px-4 py-4">
                                <button id="btn-submit" type="submit" class="btn btn-primary btn-block">Lưu</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>

    function changePasswordSuccess(data) {
        if (!data.success) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](data.message, "Thông báo");
        } else {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"](data.message, "Thông báo")
        }
    }

    function changePasswordFailure() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["error"]("Đã có lỗi xảy ra trong quá trình thay đổi mật khẩu!", "Thông báo")

    }

    function validatePassword() {
        var password = document.getElementById('Password').value;
        var passwordError = document.getElementById('passwordError');
        var uppercaseRegex = /[A-Z]/;

        if (password.length < 8) {
            passwordError.textContent = 'Mật khẩu phải có ít nhất 8 ký tự.';
            return false;
        } else if (!uppercaseRegex.test(password)) {
            passwordError.textContent = 'Mật khẩu phải chứa ít nhất một ký tự chữ hoa.';
            return false;
        } else {
            passwordError.textContent = '';
            return true;
        }
    }

    function validateRePassword() {
        var password = document.getElementById('Password').value;
        var rePassword = document.getElementById('RePassword').value;
        var repasswordError = document.getElementById('repasswordError');

        if (password !== rePassword) {
            repasswordError.textContent = 'Mật khẩu không khớp.';
            return false;
        } else {
            repasswordError.textContent = '';
            return true;
        }
    }

    $('button[type="submit"]').click(function (event) {
        if (!validatePassword() || !validateRePassword()) {
            event.preventDefault();
        }
    });

</script>

