@using WebApp.Models;

@{
    ViewBag.Title = "HistoriesBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #body-content {
        padding: 30px;
    }
    .confirmation-dialog {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .confirmation-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
    }

    .buttons {
        text-align: center;
        margin-top: 20px;
    }

    .confirm-btn,
    .cancel-btn {
        min-width: 80px;
        margin: 0 10px;
        cursor: pointer;
    }

    .input-search {
        border-radius: 5px 0px 0px 5px !important;
        height: 40px;
    }

    .btn-search {
        border-radius: 0px 5px 5px 0px !important;
        height: 40px;
        width: 40px;
    }
    .search-box {
        width: 40%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<h3 class="text-uppercase">Lịch sử đặt phòng</h3>

<div class="search-box">
    <div class="input-group ">
        <input type="text" class="form-control input-search " placeholder="Nhập mã đặt phòng hoặc tên phòng...">
        <div class="input-group-append">
            <button class="btn btn-primary btn-search" type="button">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</div>

<div class="table-history">

</div>

<div id="confirmationDialog" class="confirmation-dialog">
    <div class="confirmation-content">
        <h5 class="">Bạn có chắc chắn muốn hủy?</h5>
        @using (Html.BeginForm("CanCelBooking", "Home"))
        {
            <div style="display: none;"><input type="text" id="BookingID" name="BookingID" value="" /></div>
            <div class="buttons">
                <button id="confirmBtn" type="submit" class="confirm-btn btn btn-primary"><i class="bi bi-check-circle-fill"></i> Có</button>
                <button id="cancelBtn" type="button" class="cancel-btn btn btn-danger"><i class="bi bi-x-circle-fill"></i> Không</button>
            </div>
        }

    </div>
</div>

<script>


    // Các hàm sử lý hủy đặt phòng
    function openConfirmationDialog(button) {
        document.getElementById('confirmationDialog').style.display = 'block';
        var dataId = button.getAttribute('data-id');
        $('#BookingID').val(dataId);
    }

    function closeConfirmationDialog() {
        document.getElementById('confirmationDialog').style.display = 'none';
    }

    function handleCancel() {
        closeConfirmationDialog();
    }

    function handleConfirm() {
        closeConfirmationDialog();
    }

    document.getElementById('cancelBtn').addEventListener('click', handleCancel);
    document.getElementById('confirmBtn').addEventListener('click', handleConfirm);

    // Hàm lấy bảng
    function getTableHistory() {
        var searchString = $('.input-search').val();
        if (searchString == undefined || searchString == null) searchString = "";
        $.ajax({
            url: '/Home/GetTableHistoryBooking',
            type: 'GET',
            data: { searchString: searchString },
            success: function (rs) {
                $('.table-history').html(rs);
            },
            error: function () {
                toastr.error("Đã có lỗi xảy ra khi tổng hợp dữ liệu!", "Thông báo");
            }
        })
    }

    $('.input-search').keypress(function (event) {
        if (event.which == 13) {
            getTableHistory();
        }
    })

    $('.btn-search').on('click', function () {
        getTableHistory();
    })

    $(document).ready(function () {
        getTableHistory();
    })

</script>


