@{
    ViewBag.Title = "Home Page";
}


<style>
    .badminton {
        background-image: url('/Uploads/background/badminton.jpg');
    }

    .football {
        background-image: url('/Uploads/background/football.jpg')
    }

    .gym {
        background-image: url('/Uploads/background/gym.jpg')
    }

    .swimming {
        background-image: url('/Uploads/background/swimming.jpg')
    }

    .box {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-clip: content-box;
        background-origin: content-box;
        background-color: rgba(0, 0, 0, 1);
        min-height: 200px;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 30px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        min-height: 350px;
        border-radius: 50px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
    }

        .box:hover {
            transform: scale(1.05);
        }
        
</style>

<main>
    <div class="container">
        <div class="row">
            <div class="badminton box col-lg-6 col-md-6 col-sm-12 text-uppercase">Cầu lông</div>
            <div class="football box col-lg-6 col-md-6 col-sm-12 text-uppercase">Bóng đá</div>
            <div class="gym box col-lg-6 col-md-6 col-sm-12 text-uppercase">Thể hình</div>
            <div class="swimming box col-lg-6 col-md-6 col-sm-12 text-uppercase">Bể bơi</div>
        </div>
    </div>
</main>

<script>
    $('.badminton').on('click', function () {
        window.location.href = "/Home/BookingBadminton";
    })

    $('.football').on('click', function () {
        window.location.href = "/Home/BookingFootball";
    })

    $('.gym').on('click', function () {
        window.location.href = "/Home/BookingGym";
    })

    $('.swimming').on('click', function () {
        window.location.href = "/Home/BookingSwimming";
    })
</script>