
@{
    ViewBag.Title = "ManageShift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<WebApp.Models.tb_Shift>


<style>

    #body-content {
        padding: 30px;
        padding-top: 50px;
    }

    .btn-add {
        margin-right: 30px;
    }

    .modal-header {
        background-color: #2a86bb;
        color: white;
    }

    .mauxam {
        background-color: gainsboro;
    }

    .confirmation-dialog {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .confirmation-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
    }

    .buttons {
        text-align: center;
        margin-top: 20px;
    }

    .confirm-btn,
    .cancel-btn {
        min-width: 80px;
        margin: 0 10px;
        cursor: pointer;
    }

    .search-box {
        width: 40%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        list-style-type: none;
        margin: 20px 0;
    }

        .pagination li {
            margin: 0 5px;
        }

            .pagination li a, .pagination li span {
                display: block;
                padding: 5px 12px;
                color: #007bff;
                text-decoration: none;
                border: 1px solid #ddd;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;
            }

                .pagination li a:hover, .pagination li span:hover {
                    background-color: #007bff;
                    color: #fff;
                    cursor: pointer;
                }

            .pagination li.active span, .pagination li.active a {
                background-color: #007bff;
                color: #fff;
                border: 1px solid #007bff;
            }

            .pagination li.disabled span, .pagination li.disabled a {
                color: #999;
                cursor: not-allowed;
            }
</style>


<div>
    <h3 class="text-uppercase">Quản lý khung giờ</h3>
    <div class="search-box">
        <form id="searchForm" method="get" action="@Url.Action("ManageShift")">
            @Html.Partial("_SearchPartial")
        </form>
    </div>

    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary btn-add" onclick="Create()">Thêm mới</button>
    </div>
    <div id="container">
        @Html.Partial("_TableShiftPartial", Model)
    </div>
</div>

<div id="confirmationDialog" class="confirmation-dialog">
    <div class="confirmation-content">
        <h5 class="">Bạn có chắc chắn muốn xóa?</h5>
        <div>
            <div style="display: none;"><input type="text" id="hiddenID" name="hiddenID" value="" /></div>
            <div class="buttons">
                <button id="confirmBtn" type="submit" class="confirm-btn btn btn-primary"><i class="bi bi-check-circle-fill"></i> Có</button>
                <button id="cancelBtn" type="button" class="cancel-btn btn btn-danger"><i class="bi bi-x-circle-fill"></i> Không</button>
            </div>
        </div>
    </div>
</div>

<div id="form">
    <div class="modal modal-lg fade" id="popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    </div>
</div>


<script>

    var currentUrl = "";

    // Hàm load lại table
    function reloadTable() {
        var url = '@Url.Action("Home", "ManageShift")';

        if (currentUrl != null || currentUrl != "") {
            url = currentUrl;
        }

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#container').html(data);
                },
                error: function () {
                    toastr.error("Đã xảy ra lỗi khi lấy dữ liệu!", "Thông báo");
                }
            });
    }

    // Các hàm xử lý thêm khung giờ
    function Create() {
        $.ajax({
            url: '/Home/CreateShift',
            type: 'GET',
            success: function (rs) {
                if (!rs) {
                    toastr.error(rs.message, "Thông báo")
                    return;
                }

                $('#popup').html(rs);
                $('#popup').modal('show');

            },
            error: function () {
                toastr.error("Không thể thêm, đã xảy ra lỗi!", "Thông báo");
            }
        })
    }

    // Các hàm xử lý sửa khung giờ
    function Edit(ID) {
        if (!ID) {
            toastr.error("Không thể sửa, đã xảy ra lỗi!", "Thông báo");
            return;
        }
        $.ajax({
            url: '/Home/EditShift',
            type: 'GET',
            data: { ID: ID },
            success: function (rs) {
                if (!rs) {
                    toastr.error(rs.message, "Thông báo")
                    return;
                }

                $('#popup').html(rs);
                $('#popup').modal('show');

            },
            error: function () {
                toastr.error("Không thể sửa, đã xảy ra lỗi!", "Thông báo");
            }
        })
    }

    // Hàm được gọi khi thêm, sửa thành công
    function Success(rs) {
        if (!rs.success) {
            toastr.error(rs.message, "Thông báo")
            return;
        }

        $('#popup').modal('hide');
        reloadTable();
        toastr.success(rs.message, "Thông báo")

    }

    function Failure() {
        toastr.error("Đã xảy ra lỗi", "Thông báo")
    }

    // Các hàm xử lý xóa khung giờ
    function openConfirmationDialog(button) {
        document.getElementById('confirmationDialog').style.display = 'block';
        var dataId = button.getAttribute('data-id');
        $('#hiddenID').val(dataId);
    }

    function closeConfirmationDialog() {
        document.getElementById('confirmationDialog').style.display = 'none';
        $('#shiftNameError').html('');

    }

    function handleCancel() {
        closeConfirmationDialog();
    }

    function handleConfirm() {
        closeConfirmationDialog();

        const ID = $('#hiddenID').val();
        if (ID == null) {
            toastr.error("Đã có lỗi xảy ra khi xóa", "Thông báo");
            return;
        }

        $.ajax({
            url: '/Home/DeleteShift',
            type: 'GET',
            data: { ID: ID },
            success: function (rs) {
                if (!rs.success) {
                    toastr.error(rs.message, "Thông báo");
                    return;
                }
                toastr.success(rs.message, "Thông báo");
                reloadTable();
            },
            error: function () {
                toastr.error("Đã có lỗi xảy ra khi xóa", "Thông báo");
            }
        })
    }

    document.getElementById('cancelBtn').addEventListener('click', handleCancel);
    document.getElementById('confirmBtn').addEventListener('click', handleConfirm);


    // Các hàm xử lý validate
    function validateShiftName() {
        var shiftNameValue = $('#ShiftName').val().trim();
        var errorElement = $('#shiftNameError');

        if (shiftNameValue === "") {
            errorElement.html("Vui lòng nhập trường thông tin này");
            $('#ShiftName').focus();
            return false;
        } else {
            errorElement.html("");
            return true;
        }
    }

    function validatePrice() {
        var priceInput = document.getElementById('Price').value;
        var priceError = document.getElementById('priceError');

        // Kiểm tra xem trường giá tiền có được nhập hay không
        if (priceInput.trim() === '') {
            priceError.textContent = 'Vui lòng nhập giá tiền';
            return false;
        }

        // Kiểm tra xem giá trị nhập vào có phải là một số không
        if (isNaN(priceInput)) {
            priceError.textContent = 'Giá tiền phải là một số';
            return false;
        }

        // Xóa thông báo lỗi nếu không có lỗi
        priceError.textContent = '';
        return true;
    }

    function validateCategory() {
        var categoryInput = document.getElementById('CateID');
        var categoryError = document.getElementById('cateError');

        // Kiểm tra xem đã chọn một loại khu vực hay chưa
        if (categoryInput.value === '') {
            categoryError.textContent = 'Vui lòng chọn một loại khu vực';
            return false;
        }

        // Xóa thông báo lỗi nếu không có lỗi
        categoryError.textContent = '';
        return true;
    }

    $(document).ready(function () {

        //Lấy bảng dữ liệu khi tìm kiếm
        $('#searchForm').submit(function (event) {
            event.preventDefault();
            var url = $(this).attr('action');
            var query = $(this).serialize();

            currentUrl = url + '?' + query;

            $.ajax({
                url: url + '?' + query,
                type: 'GET',
                success: function (data) {
                    $('#container').html(data);
                },
                error: function () {
                    toastr.error("Đã xảy ra lỗi khi lấy dữ liệu!", "Thông báo");
                }
            });
        });

        //Lấy bảng dữ liệu khi kích nút chuyển trang
        $(document).on('click', '.pagination a', function (event) {
            event.preventDefault();
            var url = $(this).attr('href');

            currentUrl = url;

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#container').html(data);
                },
                error: function () {
                    toastr.error("Đã xảy ra lỗi khi lấy dữ liệu!", "Thông báo");
                }
            });
        });

    })


</script>




