
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-uppercase">Thanh toán</h1>

@using (Html.BeginForm("Process", "Home", FormMethod.Post))
{
    <div>
        <label for="amount">Amount:</label>
        <input type="text" name="amount" />
    </div>
    <div>
        <label for="customerName">Mã giao dịch:</label>
        <input type="text" name="customerName" />
    </div>
    <div>
        <!-- Các trường thông tin khác cho thanh toán -->
    </div>
    <button type="submit">Pay Now</button>
}